*, *::before, *::after{
  box-sizing: border-box;
}

:root{
  --color-card: rgb(174, 214, 241);
  --color-list: white;
  --color-card-dark: #5DADE2;
  --color-secondary: rgb(118, 118, 118);
}

body, html, #root{
  height: 100%;
  margin: 0;
}

body{
  background-image: url('./img/home/home.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
}